
@model Usuario

@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container border shadow">
    <h1>@ViewData["Title"]</h1>
    <h2 class="alert-danger mt-3"> Su rol no lo autoriza acceder a esta opcion</h2>
</div>

